@import './fonts.css';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #1a1a1a;
  /* width: 100%;
  max-width: 100%;
  overflow-x: hidden; */
}

​img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

body {
  min-width: 1280px;
}
