.container_usersPage h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.container_text__select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 16px;
}

.form_select {
  width: 80px;
}
